# EditorConfig helps developers define and maintain consistent coding styles between different editors and IDEs
# For more information about the properties used in this file, please see https://editorconfig.org

# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Set default charset
[*.{c,cpp,h,hpp}]
charset = utf-8

# Trim trailing whitespace
[*.{c,cpp,h,hpp}]
trim_trailing_whitespace = true

# Ensure files end with a single newline
[*.{c,cpp,h,hpp}]
insert_final_newline = true
