[submodule "dependencies/pawn"]
	path = dependencies/pawn
	url = https://github.com/openmultiplayer/compiler.git
[submodule "dependencies/samp-streamer-plugin/streamer"]
	path = dependencies/samp-streamer-plugin/streamer
	url = https://github.com/Lyuu17/samp-streamer-plugin.git
	branch = open.mp
